<!DOCTYPE html>
<html>
  <head>
    <title>Wire App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%_ if (production) { -%>
    <base href="https://example.com/base">
    <%_ } -%>

    <%- importMapScriptTag() %>

    <%- scriptModuleTag("application") %>

    <%- stylesheetLinkTag("application") %>

    <%- includeCSSDirectory("cssmodule1") %>
  </head>

  <body>
    <div id="app" />
  </body>
</html>
